
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato - DevBurger</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon-32x32.png" type="image/x-icon">

</head>

<body>
  <div class="main contato">
    <div class="main-header">
      <div class="logo-container">
        <img src="/images/devburger_logo.png" alt="DevBurger Logo" class="logo">
        <h1>Bem-vindo ao DevBurger!</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/contato">Contato</a></li>
          <!--<li><a href="/api/lanches">Ver lanches</a></li> -->

        </ul>
      </nav>
    </div>

    <div class="main-body"></div>

  </div>
</body>

</html>